$color=#00BCD4
title(){
    height: .6rem
    line-height:.6rem
    text-align: left
    padding-left:.2rem
    font-size:0.32rem
    background: #eee
    color: #414141
    border-top: 1px solid #999
    border-bottom: 1px solid #999
}
cityList(){
    padding-bottom: .3rem
    padding-right: .4rem
    background: #fff 
    display: flex
    flex-flow: wrap row
}
cityWrap(){
    width: 33.3%
    margin-top: .3rem
    padding: 0 .12rem
    box-sizing: border-box
    text-align: center
}
cityItem(){
    border: 1px solid #999
    border-radius:.06rem
    padding: .1rem 0
    color:#000
}